*{margin:0; box-sizing: border-box; overflow: hidden;}

#container,#environment{width: 100vw;height: 100vh;position: absolute;}

#pos{
    position: absolute;
    z-index: 99999;
    font-size: 5vh;
}

#environment{
    background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.092) 10%, transparent 10%),
    linear-gradient(90deg, rgba(0, 0, 0, 0.092) 10%, transparent 10%);
    background-size: calc(.8vh + .8vw) calc(.8vh + .8vw);
}


#dot{
    height: 10vh;
    width: 10vh;
    background-color: black;
    position: absolute;
}

.block{
    height: calc(6vh + 6vw);
    width: calc(6vh + 6vw);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

#AND{
    background-image: url(gates/AND.svg);
}


.dot{
    height: calc(1vh + 1vw);
    width: calc(1vh + 1vw);
    transition: .1s;
    background-color: rgb(17, 176, 255);
    border-radius: 50%;
}

.dot:hover{
    scale: 1.3;
    cursor:cell;
    z-index: 999;
}


#output{
    margin-left: 50px;
    margin-top: 7.5vh;
}

#data_a{
    background-color: orange;
    left: .5vw;
    top: 5.9vh;
}

#data_b{
    background-color: orange;
    left: .5vw;
    top: 8.9vh;
}